<p id="notice"><%= notice %></p>

<h2>Your Votes:</h2>

  <table>
   <thead>
    <tr>
      <th>Date Voted</th>
      <th>Restaurant</th>
      <th>Vote</th>
    </tr>
   </thead>
  
   <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.created_at.strftime("%m-%d-%y") %> at <%= vote.created_at.strftime("%H:%M") %></td>
        <td><%= link_to vote.name, restaurant_path(:id => vote.rest_id) %></td>
        <td><%= vote.vote ? "Split" : "Don't Split" %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
  <br>

<h2>Your Comments:</h2>
<% @comments.each do |comment| %>
  <hr>
  <%= comment.created_at %> 
  <p>
    You left a comment for <%= link_to @restaurants.where(:id => comment.restaurant_id)[0].name, restaurant_path(:id => comment.restaurant_id) %>
  </p>
  <p>
    <strong><%= comment.message %></strong>
  </p>
  <br>
<% end %>

your email is: <%= current_user.email %>
logged in user id is: <%= current_user.id %>
page of the user with id: <%= @user.id %>

<%= link_to 'Back', restaurants_path %>
