<p id="notice"><%= notice %></p>

<h2>Your Votes:</h2>

  <table>
   <thead>
    <tr>
      <th>Date Voted</th>
      <th>Restaurant</th>
      <th>Vote</th>
    </tr>
   </thead>
  
   <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.created_at.strftime("%m-%d-%y") %> at <%= vote.created_at.strftime("%H:%M") %></td>
        <td><%= link_to vote.name, restaurant_path(:id => vote.rest_id) %></td>
        <td><%= vote.vote ? "Split" : "Don't Split" %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
  <br>

<h2>Your Comments:</h2>
<% @comments.each do |comment| %>
  <hr>
  On <%= comment.created_at.strftime("%m-%d-%y") %> at <%= comment.created_at.strftime("%H:%M") %> 
  you left a comment for <%= link_to @restaurants.where(:id => comment.restaurant_id)[0].name, restaurant_path(:id => comment.restaurant_id) %>:

  <p>
    <strong><%= comment.message %></strong>
  </p>
  <br>
<% end %>

<br>
<%= link_to 'Back to list of restaurants', restaurants_path %>
<br>
