<p id="notice"><%= notice %></p>

<div id="content"> 

<%= link_to 'Back to list of restaurants', restaurants_path %>
<br><br>

<h2>Your Favorite Restaurants:</h2>
<% if @favorite_restaurants.size > 0 %>
  <table>
   <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
   </thead>
  
   <tbody>
    <% @favorite_restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant_path(:id => restaurant.id) %></td>
        <td><%= restaurant.address %>, <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zip %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
  
  <%= paginate @favorite_restaurants %> 
  <%= page_entries_info @favorite_restaurants %> 
   
  <br><br> 
<% else %>
  <p>You don't have any restaurants in your Favorite List</p>
<% end %>
  <br>


<h2>Your Votes:</h2>
<% if @votes.size > 0 %>

  <table>
   <thead>
    <tr>
      <th>Date Voted</th>
      <th>Restaurant</th>
      <th>Vote</th>
    </tr>
   </thead>
  
   <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.created_at.strftime("%m-%d-%y") %> at <%= vote.created_at.strftime("%H:%M") %></td>
        <td><%= link_to vote.name, restaurant_path(:id => vote.rest_id) %></td>
        <td><%= vote.vote ? "Split" : "Don't Split" %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
  
  <%= paginate @votes %> 
  <%= page_entries_info @votes %> 
   
  <br><br> 
<% else %>
  <p>You haven't voted for any restaurants yet</p>
<% end %>
  <br>

<h2>Your Comments:</h2>
<% if @comments.size > 0 %>
  <% @comments.each do |comment| %>
    <hr>
    On <%= comment.created_at.strftime("%m-%d-%y") %> at <%= comment.created_at.strftime("%I:%M %p") %> 
    you left a comment for <%= link_to @restaurants.where(:id => comment.restaurant_id)[0].name, restaurant_path(:id => comment.restaurant_id) %>:

    <p>
      <strong><%= comment.message %></strong>
     </p>
    <br>
    <%= link_to 'Back to top', user_path(:id => current_user.id) %><br>
  <% end %>
<% else %>
  <p>You haven't commented on any restaurants yet</p>
<% end %>

<br>
<%= link_to 'Back to list of restaurants', restaurants_path %>
<br>

</div>
