<p id="notice"><%= notice %></p>

your email is: <%= current_user.email %>
logged in user id is: <%= current_user.id %>
page of the user with id: <%= @user.id %>

<%= link_to 'Back', restaurants_path %>
