<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Restaurant Name (required)' %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label 'Street Address (required)' %><br>
    <%= f.text_field :address, size: 40 %>
  </div>
  <div class="field">
    <%= f.label 'City (required)' %><br>
    <%= f.text_field :city, size: 40 %>
  </div>
  <div class="field">
    <%= f.label 'State (required)' %><br>
    <%= f.text_field :state, size: 10 %>
  </div>
  <div class="field">
    <%= f.label 'Zip (required)' %><br>
    <%= f.text_field :zip, size: 5 %>
  </div>
  <div class="actions">
    <%= f.submit "Create New Restaurant" %>
  </div>
<% end %>
