<div id="search">
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name:" %>
    <%= f.text_field :name_cont, :placeholder => 'Full or partial name', size: 11 %>
  </div>
  <div class="field">
    <%= f.label :address_or_city_or_state_or_zip_cont, "Location:" %>
    <%= f.text_field :address_or_city_or_state_or_zip_cont, :placeholder => 'Full or partial location', size: 11 %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
</div>

<div id="content"> 
  <table>
   <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th colspan="3"></th>
    </tr>
   </thead>
  

   <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip %></td>
        <td><%= @votes.where(:restaurant_id => restaurant.id, :vote => true).count %></td>
        <td><%= @votes.where(:restaurant_id => restaurant.id, :vote => false).count %></td>
        <td><%= link_to 'Vote', restaurant %></td>
      </tr>
    <% end %>
   </tbody>
  </table>

  <br>

  <%= paginate @restaurants %>
  <%= page_entries_info @restaurants %>

  <br><br>

  <%= link_to "<button>Add New Restaurant</button>".html_safe, new_restaurant_path %><br><br>
</div>
