<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<p>
  <strong>Split Votes:</strong>
  <%= @restaurant.upvote %>
</p>

<p>
  <strong>Don't Split Votes:</strong>
  <%= @restaurant.downvote %>
</p>

<p>
  <%= link_to 'Up Vote', upvote_path(:restaurant_id => @restaurant.id) %> 
  <%= link_to 'Down Vote', downvote_path(:restaurant_id => @restaurant.id) %>
</p>


<%= link_to 'Back', restaurants_path %>
