<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<p>
  <strong>Split Votes:</strong>
  <%= @restaurant.upvote %>
</p>

<p>
  <strong>Don't Split Votes:</strong>
  <%= @restaurant.downvote %>
</p>

<br>

<p>
  <%= button_to 'Up Vote', restaurants_path, :method => "get" %><br>
  <%= button_to 'Down Vote', restaurants_path, :method => "get" %>
</p>


<%= link_to 'Back', restaurants_path %>
