<div id="content"> 

  <p><%= link_to 'Back to list of restaurants', restaurants_path %></p><br>

  <div id="description">
	<p>
	  <strong>Name:</strong>
	  <%= @restaurant.name %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
	</p>

	<p>
	  <strong>Split Votes:</strong>
	  <%= @votes.where(:restaurant_id => @restaurant.id, :vote => true).count %>
	</p>

	<p>
	  <strong>Don't Split Votes:</strong>
	  <%= @votes.where(:restaurant_id => @restaurant.id, :vote => false).count %>
	</p>
  </div>

<br>
<% if current_user.present? %>
<p>
  <strong>Your Vote: </strong>
</p>

<p>
  <%= link_to "<button>Split</button>".html_safe, upvote_path(:restaurant_id => @restaurant.id) %> 
  <%= link_to "<button>Don't Split</button>".html_safe, downvote_path(:restaurant_id => @restaurant.id) %>
</p>

<br>
  
  <% if @favorites.where(:user_id => current_user.id).count == 0 %>
    <p>
      <strong>You can add this restaurant to your Favorite List:</strong>
    </p>
    <p>
      <%= link_to "<button>Mark As Favorite</button>".html_safe, make_favorite_path(:restaurant_id => @restaurant.id) %>
    </p>
  <% else %>
    <p>
      <strong>This restaurant is in your Favorites List:</strong>
    </p>
    <p>
      <%= link_to "<button>Remove From Favorites</button>".html_safe, remove_from_favorite_path(:restaurant_id => @restaurant.id) %>
    </p>
  <% end %>
<br>

<p>
  <strong>Your Comment (500 symbols max): </strong>
</p>

<form action = "comment" class="actions" >
  <textarea name="message" maxlength='500' cols="60" rows="6"></textarea><br>
  <input type="hidden" name="restaurant_id" value=<%= @restaurant.id %>/><br>
  <input type="submit" value = "Submit"/><br>
</form> 
<% end %>
<br>


<h2>Comments:</h2>
<% if @comments.size > 0 %>
  <% @comments.each do |comment| %>
    <hr>
    User <%= comment.email %> commented 
    on <%= comment.created_at.strftime("%m-%d-%y") %> at <%= comment.created_at.strftime("%I:%M %p") %>
    <p>
      <strong><%= comment.message %></strong>
    </p>
    <br>
    <%= link_to 'Back to top', @restaurant %><br>
  <% end %>
<% else %>
  <p>Nobody has commented on this restaurant yet.</p>
<% end %>
<br>
<%= link_to 'Back to list of restaurants', restaurants_path %><br><br>

</div>
