<div id="content"> 

  <div id="description">
	<p>
	  <strong>Name:</strong>
	  <%= @restaurant.name %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
	</p>

	<p>
	  <strong>Split Votes:</strong>
	  <%= @votes.where(:restaurant_id => @restaurant.id, :vote => true).count %>
	</p>

	<p>
	  <strong>Don't Split Votes:</strong>
	  <%= @votes.where(:restaurant_id => @restaurant.id, :vote => false).count %>
	</p>
  </div>

<br>

<p>
  <strong>Your Vote: </strong>
</p>

<p>
  <%= link_to "<button>Split</button>".html_safe, upvote_path(:restaurant_id => @restaurant.id) %> 
  <%= link_to "<button>Don't Split</button>".html_safe, downvote_path(:restaurant_id => @restaurant.id) %>
</p>

<br>

<p>
  <strong>Your Comment (500 symbols max): </strong>
</p>

<form action = "comment" class="actions" >
  <textarea name="message" maxlength='500' cols="60" rows="6"></textarea><br>
  <input type="hidden" name="restaurant_id" value=<%= @restaurant.id %>/><br>
  <input type="submit" value = "Submit"/><br>
</form> 

<br>
<%= link_to 'Back to list of restaurants', restaurants_path %><br><br>

</div>
