<h1>Listing votes</h1>

<table>
  <thead>
    <tr>
      <th>Vote</th>
      <th>User</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.vote %></td>
        <td><%= vote.user %></td>
        <td><%= vote.restaurant %></td>
        <td><%= link_to 'Show', vote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
