<p id="notice"><%= notice %></p>

<p>
  <strong>Vote:</strong>
  <%= @vote.vote %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote.restaurant %>
</p>

<%= link_to 'Back', votes_path %>
